Synapse/pipeline/LoadNYCDim.json
{
	"name": "LoadNYCDim",
	"properties": {
		"activities": [
			{
				"name": "Get File Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_CSV_NYC",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Vendor.csv"
						}
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachDim",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Name').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy to DW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "asastoremarysynapse",
										"type": "LinkedServiceReference"
									},
									"path": "staging"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_CSV_NYC",
									"type": "DatasetReference",
									"parameters": {
										"fileName": "Vendor.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Synpse_NYC_Dim",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "SalesMigration.DimVendor"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-03-14T21:42:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}